<?xml version="1.0" encoding="utf-8"?>



<!-- 
An Activity can lock its orientation in portrait mode by adding the XML-attribute 
screenOrientation="portrait" to the XML-tag <activity>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.androidtutorials.helloworld.portrait"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="HelloWorld (portrait)">
        <activity android:name="org.androidtutorials.helloworld.portrait.HelloWorldActivity"
                  android:label="HelloWorld (portrait)"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>